# Backend Configurations
PROJECT_NAME="RAG System"
DATABASE_URL="sqlite:///./rag.db"

# ChromaDB Configurations (use "chromadb" in docker, "localhost" for local execution)
CHROMA_HOST=chromadb
CHROMA_PORT=8000
CHROMA_COLLECTION=rag_documents

# OpenAI or OpenAI-Compatible LLM Settings
OPENAI_API_KEY=your-openai-api-key-here
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o-mini
